.card {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: var(--gray-light);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.date {
  font-size: 14px;
  color: var(--gray);
}

.message {
  margin: 5px 0 0 0;
  color: var(--black);
}

.title {
  margin: 15px 0 0 0;
  color: var(--black);
  font-size: 20px;
}
