.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.imageLoading {
  background: linear-gradient(
    90deg,
    hsl(from var(--white) h s calc(l - 5%)),
    hsl(from var(--white) h s calc(l - 15%)),
    hsl(from var(--white) h s calc(l - 5%))
  );
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
