.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  flex-direction: column;
  padding: 40px 15px;
}

.title {
  font-size: 36px;
}

.virtuosoContainer {
  width: 100%;
  max-width: 1200px;
}

.virtuosoItem {
  margin: 20px 10px 0;
  display: flex;
  justify-content: center;
}
